2023-08-31T17:32:36.287+03:30  INFO 20488 --- [main] aicup.javaclient.JavaclientApplication   : Starting JavaclientApplication using Java 17.0.7 with PID 20488 (C:\Users\alida\OneDrive\Desktop\javaclient\javaclient\target\classes started by alida in C:\Users\alida\OneDrive\Desktop\javaclient\javaclient)
2023-08-31T17:32:36.291+03:30  INFO 20488 --- [main] aicup.javaclient.JavaclientApplication   : No active profile set, falling back to 1 default profile: "default"
2023-08-31T17:32:37.928+03:30  INFO 20488 --- [main] o.s.b.w.embedded.tomcat.TomcatWebServer  : Tomcat initialized with port(s): 2000 (http)
2023-08-31T17:32:37.947+03:30  INFO 20488 --- [main] o.apache.catalina.core.StandardService   : Starting service [Tomcat]
2023-08-31T17:32:37.952+03:30  INFO 20488 --- [main] o.apache.catalina.core.StandardEngine    : Starting Servlet engine: [Apache Tomcat/10.1.11]
2023-08-31T17:32:38.164+03:30  INFO 20488 --- [main] o.a.c.c.C.[Tomcat].[localhost].[/]       : Initializing Spring embedded WebApplicationContext
2023-08-31T17:32:38.165+03:30  INFO 20488 --- [main] w.s.c.ServletWebServerApplicationContext : Root WebApplicationContext: initialization completed in 1791 ms
2023-08-31T17:32:38.868+03:30  INFO 20488 --- [main] o.s.b.w.embedded.tomcat.TomcatWebServer  : Tomcat started on port(s): 2000 (http) with context path ''
2023-08-31T17:32:38.886+03:30  INFO 20488 --- [main] aicup.javaclient.JavaclientApplication   : Started JavaclientApplication in 3.196 seconds (process running for 4.901)
2023-08-31T17:32:48.600+03:30  INFO 3940 --- [main] aicup.javaclient.JavaclientApplication   : Starting JavaclientApplication using Java 17.0.7 with PID 3940 (C:\Users\alida\OneDrive\Desktop\javaclient\javaclient\target\classes started by alida in C:\Users\alida\OneDrive\Desktop\javaclient\javaclient)
2023-08-31T17:32:48.604+03:30  INFO 3940 --- [main] aicup.javaclient.JavaclientApplication   : No active profile set, falling back to 1 default profile: "default"
2023-08-31T17:32:50.233+03:30  INFO 3940 --- [main] o.s.b.w.embedded.tomcat.TomcatWebServer  : Tomcat initialized with port(s): 2001 (http)
2023-08-31T17:32:50.253+03:30  INFO 3940 --- [main] o.apache.catalina.core.StandardService   : Starting service [Tomcat]
2023-08-31T17:32:50.254+03:30  INFO 3940 --- [main] o.apache.catalina.core.StandardEngine    : Starting Servlet engine: [Apache Tomcat/10.1.11]
2023-08-31T17:32:50.446+03:30  INFO 3940 --- [main] o.a.c.c.C.[Tomcat].[localhost].[/]       : Initializing Spring embedded WebApplicationContext
2023-08-31T17:32:50.446+03:30  INFO 3940 --- [main] w.s.c.ServletWebServerApplicationContext : Root WebApplicationContext: initialization completed in 1760 ms
2023-08-31T17:32:51.084+03:30  INFO 3940 --- [main] o.s.b.w.embedded.tomcat.TomcatWebServer  : Tomcat started on port(s): 2001 (http) with context path ''
2023-08-31T17:32:51.115+03:30  INFO 3940 --- [main] aicup.javaclient.JavaclientApplication   : Started JavaclientApplication in 3.125 seconds (process running for 4.726)
2023-08-31T17:33:06.573+03:30  INFO 7412 --- [main] aicup.javaclient.JavaclientApplication   : Starting JavaclientApplication using Java 17.0.7 with PID 7412 (C:\Users\alida\OneDrive\Desktop\javaclient\javaclient\target\classes started by alida in C:\Users\alida\OneDrive\Desktop\javaclient\javaclient)
2023-08-31T17:33:06.577+03:30  INFO 7412 --- [main] aicup.javaclient.JavaclientApplication   : No active profile set, falling back to 1 default profile: "default"
2023-08-31T17:33:08.173+03:30  INFO 7412 --- [main] o.s.b.w.embedded.tomcat.TomcatWebServer  : Tomcat initialized with port(s): 2002 (http)
2023-08-31T17:33:08.194+03:30  INFO 7412 --- [main] o.apache.catalina.core.StandardService   : Starting service [Tomcat]
2023-08-31T17:33:08.194+03:30  INFO 7412 --- [main] o.apache.catalina.core.StandardEngine    : Starting Servlet engine: [Apache Tomcat/10.1.11]
2023-08-31T17:33:08.392+03:30  INFO 7412 --- [main] o.a.c.c.C.[Tomcat].[localhost].[/]       : Initializing Spring embedded WebApplicationContext
2023-08-31T17:33:08.393+03:30  INFO 7412 --- [main] w.s.c.ServletWebServerApplicationContext : Root WebApplicationContext: initialization completed in 1737 ms
2023-08-31T17:33:09.030+03:30  INFO 7412 --- [main] o.s.b.w.embedded.tomcat.TomcatWebServer  : Tomcat started on port(s): 2002 (http) with context path ''
2023-08-31T17:33:09.050+03:30  INFO 7412 --- [main] aicup.javaclient.JavaclientApplication   : Started JavaclientApplication in 3.064 seconds (process running for 6.104)
2023-08-31T17:33:09.172+03:30  INFO 3940 --- [http-nio-2001-exec-1] o.a.c.c.C.[Tomcat].[localhost].[/]       : Initializing Spring DispatcherServlet 'dispatcherServlet'
2023-08-31T17:33:09.172+03:30  INFO 3940 --- [http-nio-2001-exec-1] o.s.web.servlet.DispatcherServlet        : Initializing Servlet 'dispatcherServlet'
2023-08-31T17:33:09.174+03:30  INFO 3940 --- [http-nio-2001-exec-1] o.s.web.servlet.DispatcherServlet        : Completed initialization in 2 ms
2023-08-31T17:33:09.692+03:30  INFO 7412 --- [http-nio-2002-exec-1] o.a.c.c.C.[Tomcat].[localhost].[/]       : Initializing Spring DispatcherServlet 'dispatcherServlet'
2023-08-31T17:33:09.693+03:30  INFO 7412 --- [http-nio-2002-exec-1] o.s.web.servlet.DispatcherServlet        : Initializing Servlet 'dispatcherServlet'
2023-08-31T17:33:09.695+03:30  INFO 7412 --- [http-nio-2002-exec-1] o.s.web.servlet.DispatcherServlet        : Completed initialization in 1 ms
2023-08-31T17:33:10.217+03:30  INFO 20488 --- [http-nio-2000-exec-1] o.a.c.c.C.[Tomcat].[localhost].[/]       : Initializing Spring DispatcherServlet 'dispatcherServlet'
2023-08-31T17:33:10.218+03:30  INFO 20488 --- [http-nio-2000-exec-1] o.s.web.servlet.DispatcherServlet        : Initializing Servlet 'dispatcherServlet'
2023-08-31T17:33:10.220+03:30  INFO 20488 --- [http-nio-2000-exec-1] o.s.web.servlet.DispatcherServlet        : Completed initialization in 2 ms
2023-08-31T17:38:11.017+03:30  INFO 26084 --- [main] aicup.javaclient.JavaclientApplication   : Starting JavaclientApplication using Java 17.0.7 with PID 26084 (C:\Users\alida\OneDrive\Desktop\javaclient\javaclient\target\classes started by alida in C:\Users\alida\OneDrive\Desktop\javaclient\javaclient)
2023-08-31T17:38:11.021+03:30  INFO 26084 --- [main] aicup.javaclient.JavaclientApplication   : No active profile set, falling back to 1 default profile: "default"
2023-08-31T17:38:12.621+03:30  INFO 26084 --- [main] o.s.b.w.embedded.tomcat.TomcatWebServer  : Tomcat initialized with port(s): 2000 (http)
2023-08-31T17:38:12.639+03:30  INFO 26084 --- [main] o.apache.catalina.core.StandardService   : Starting service [Tomcat]
2023-08-31T17:38:12.640+03:30  INFO 26084 --- [main] o.apache.catalina.core.StandardEngine    : Starting Servlet engine: [Apache Tomcat/10.1.11]
2023-08-31T17:38:12.816+03:30  INFO 26084 --- [main] o.a.c.c.C.[Tomcat].[localhost].[/]       : Initializing Spring embedded WebApplicationContext
2023-08-31T17:38:12.817+03:30  INFO 26084 --- [main] w.s.c.ServletWebServerApplicationContext : Root WebApplicationContext: initialization completed in 1700 ms
2023-08-31T17:38:13.444+03:30  INFO 26084 --- [main] o.s.b.w.embedded.tomcat.TomcatWebServer  : Tomcat started on port(s): 2000 (http) with context path ''
2023-08-31T17:38:13.460+03:30  INFO 26084 --- [main] aicup.javaclient.JavaclientApplication   : Started JavaclientApplication in 3.154 seconds (process running for 4.966)
2023-08-31T17:38:16.659+03:30  INFO 15256 --- [main] aicup.javaclient.JavaclientApplication   : Starting JavaclientApplication using Java 17.0.7 with PID 15256 (C:\Users\alida\OneDrive\Desktop\javaclient\javaclient\target\classes started by alida in C:\Users\alida\OneDrive\Desktop\javaclient\javaclient)
2023-08-31T17:38:16.663+03:30  INFO 15256 --- [main] aicup.javaclient.JavaclientApplication   : No active profile set, falling back to 1 default profile: "default"
2023-08-31T17:38:18.372+03:30  INFO 15256 --- [main] o.s.b.w.embedded.tomcat.TomcatWebServer  : Tomcat initialized with port(s): 2001 (http)
2023-08-31T17:38:18.392+03:30  INFO 15256 --- [main] o.apache.catalina.core.StandardService   : Starting service [Tomcat]
2023-08-31T17:38:18.392+03:30  INFO 15256 --- [main] o.apache.catalina.core.StandardEngine    : Starting Servlet engine: [Apache Tomcat/10.1.11]
2023-08-31T17:38:18.580+03:30  INFO 15256 --- [main] o.a.c.c.C.[Tomcat].[localhost].[/]       : Initializing Spring embedded WebApplicationContext
2023-08-31T17:38:18.580+03:30  INFO 15256 --- [main] w.s.c.ServletWebServerApplicationContext : Root WebApplicationContext: initialization completed in 1824 ms
2023-08-31T17:38:19.267+03:30  INFO 15256 --- [main] o.s.b.w.embedded.tomcat.TomcatWebServer  : Tomcat started on port(s): 2001 (http) with context path ''
2023-08-31T17:38:19.292+03:30  INFO 15256 --- [main] aicup.javaclient.JavaclientApplication   : Started JavaclientApplication in 3.278 seconds (process running for 5.045)
2023-08-31T17:38:19.546+03:30  INFO 10124 --- [main] aicup.javaclient.JavaclientApplication   : Starting JavaclientApplication using Java 17.0.7 with PID 10124 (C:\Users\alida\OneDrive\Desktop\javaclient\javaclient\target\classes started by alida in C:\Users\alida\OneDrive\Desktop\javaclient\javaclient)
2023-08-31T17:38:19.552+03:30  INFO 10124 --- [main] aicup.javaclient.JavaclientApplication   : No active profile set, falling back to 1 default profile: "default"
2023-08-31T17:38:21.136+03:30  INFO 10124 --- [main] o.s.b.w.embedded.tomcat.TomcatWebServer  : Tomcat initialized with port(s): 2002 (http)
2023-08-31T17:38:21.152+03:30  INFO 10124 --- [main] o.apache.catalina.core.StandardService   : Starting service [Tomcat]
2023-08-31T17:38:21.153+03:30  INFO 10124 --- [main] o.apache.catalina.core.StandardEngine    : Starting Servlet engine: [Apache Tomcat/10.1.11]
2023-08-31T17:38:21.347+03:30  INFO 10124 --- [main] o.a.c.c.C.[Tomcat].[localhost].[/]       : Initializing Spring embedded WebApplicationContext
2023-08-31T17:38:21.347+03:30  INFO 10124 --- [main] w.s.c.ServletWebServerApplicationContext : Root WebApplicationContext: initialization completed in 1707 ms
2023-08-31T17:38:21.956+03:30  INFO 10124 --- [main] o.s.b.w.embedded.tomcat.TomcatWebServer  : Tomcat started on port(s): 2002 (http) with context path ''
2023-08-31T17:38:21.979+03:30  INFO 10124 --- [main] aicup.javaclient.JavaclientApplication   : Started JavaclientApplication in 3.136 seconds (process running for 4.939)
2023-08-31T17:38:23.159+03:30  INFO 15256 --- [http-nio-2001-exec-2] o.a.c.c.C.[Tomcat].[localhost].[/]       : Initializing Spring DispatcherServlet 'dispatcherServlet'
2023-08-31T17:38:23.160+03:30  INFO 15256 --- [http-nio-2001-exec-2] o.s.web.servlet.DispatcherServlet        : Initializing Servlet 'dispatcherServlet'
2023-08-31T17:38:23.161+03:30  INFO 15256 --- [http-nio-2001-exec-2] o.s.web.servlet.DispatcherServlet        : Completed initialization in 1 ms
2023-08-31T17:38:23.660+03:30  INFO 10124 --- [http-nio-2002-exec-1] o.a.c.c.C.[Tomcat].[localhost].[/]       : Initializing Spring DispatcherServlet 'dispatcherServlet'
2023-08-31T17:38:23.661+03:30  INFO 10124 --- [http-nio-2002-exec-1] o.s.web.servlet.DispatcherServlet        : Initializing Servlet 'dispatcherServlet'
2023-08-31T17:38:23.664+03:30  INFO 10124 --- [http-nio-2002-exec-1] o.s.web.servlet.DispatcherServlet        : Completed initialization in 2 ms
2023-08-31T17:38:24.161+03:30  INFO 26084 --- [http-nio-2000-exec-1] o.a.c.c.C.[Tomcat].[localhost].[/]       : Initializing Spring DispatcherServlet 'dispatcherServlet'
2023-08-31T17:38:24.162+03:30  INFO 26084 --- [http-nio-2000-exec-1] o.s.web.servlet.DispatcherServlet        : Initializing Servlet 'dispatcherServlet'
2023-08-31T17:38:24.164+03:30  INFO 26084 --- [http-nio-2000-exec-1] o.s.web.servlet.DispatcherServlet        : Completed initialization in 2 ms
